<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://gcore.jsdelivr.net/npm/vue@2"></script>
    <script src="peer.js"></script>
    <script src="user.js"></script>
    <script src="blockchain.js"></script>
    <title>原子物权链演示</title>
    <style type="text/css">
        body { background-color: #ffe; word-break: break-all; }
        div.left { display: inline; box-sizing:border-box; float: left; width: 45%; }
        div.right { display: inline; border: #fc0 solid 1px; padding: 6px; min-height: 500px;
            box-sizing:border-box; width: 25%; float: right; margin-left: 8px; }
        div.seg { display: inline; border: #fc0 solid 1px; padding: 8px; min-height: 50px;
            width: 100%; }
        div.title { border-bottom: #fc0 solid 1px; margin-bottom: 6px; padding-bottom: 5px; }
        div.user { display: inline; border: #fc0 solid 1px; margin: 8px; padding: 8px; width: 60px; float: left; cursor: pointer; }
        div.userid { color: #888; font-size: x-small; }
        div.selchar { color: green; }
        div.chainid { color: #888; font-size: x-small; }
        div.chainname { color: #666; font-size: small; border-top: #fc0 solid 1px; margin-top: 6px; padding-top: 5px; }
        div.log { color: #666; font-size: small; margin-top: 4px; }
        div.logarea { overflow-y: auto; height: 600px; }
        div.act { border: #fc0 solid 2px; padding: 8px; font-size: big; }
        div.chainview { transition: opacity .6s; position: absolute; background: white; font-size: big; padding: 6px; cursor: auto; }
        div.block { cursor: pointer; border-top: #fc0 solid 1px; width: 60px; margin-top: 6px; }
        span.blockidx { margin-right: 8px; font-color: black; font-size: big }
        .act>span { margin: 6px; }
        span.closebtn { float: right; font-size: 0.9em; cursor: pointer; }
    </style>
</head>

<body>
<div id='alert_vue' style="font-size:xx-big; margin:30px; color:red;"><b>无法加载 Vue。<br>
本页面基于 Vue 构建，但无法从 cdn.jsdelivr.net 加载 Vue。可能是被墙了。请尝试通过梯子访问上述网址。</b></div>

<div id='alert_crypto' style="font-size:xx-big; margin:30px; color:red;"><b>crypto.subtle 无效。<br>
当前浏览器不支持加密运算 SubtleCrypto，请用 firefox 或 chrome 的较新版本打开。<br>只在网址前缀为 https: 或 file: 时能运行 SubtleCrypto。</b></div>

<div id="main" style="padding:10px">
    <div class="left">
        <div>
            这里是原子物权链的演示页，对原子物权链不了解者请先<a target="_blank" href="http://acc.guideep.com">阅读文档</a>。<br><br>
            <a target="_blank" href="play_en.html" style="margin-right: 28px">English version</a>
            <a target="_blank" href="https://github.com/saintthor/decentralization">代码</a><br><br>
            原子物权链是高度去中心化的区块链技术，基本运行模式是令若干条私有区块链能在人群之中互相转送。设定每条链代表不同的对象，即可实现不同的业务。<br><br>
            下面首先创建用户，数量为<input type="number" v-model="UserNum" max="6" min="3" style="width:50px;"/>个，
            <button :disabled="Users.length!==0" @click="InitUsers">确定</button>
        </div>
        <div>
            接着创建区块链，数量为<input type="number" v-model="ChainNum" max="10" min="3" style="width:50px;"/>条，
            <button :disabled="Chains.length!==0" @click="InitChains">确定</button>
        </div><br>
        <div v-show="Chains.length>0">
            <hr>
            在操作面板中可以看到用户及每个用户拥有的链。新建的链只有根区块。<br><br>
            <div class="act">
                现在，令[<span :style="{color:SelUser?'#636':'#b33'}">{{ SelUser?SelUser.Name:'某个发送者' }}</span>]向
                [<span :style="{color:SelChain?'#636':'#b33'}">{{ SelChain?SelChain.Name:'某条链' }}</span>]上的
                [<span :style="{color:SelBlockId?'#636':'#b33'}">{{ SelBlockId?SelBlockId:'某个区块' }}</span>]之后添加区块，以将此链送给
                [<span :style="{color:SelTarget?'#636':'#b33'}">{{ SelTarget?SelTarget.Name:'某个接收者' }}</span>]。
            </div>
            <p>按照下面的步骤，设定上框中所需的四个变量：</p>
            <p>1、在操作面板上点击用户名，可选择执行发送操作的用户。</p>
            <p>2、在操作面板上点击区块链，可选择执行此操作的链。选中后可见此链上的所有区块。</p>
            <p>3、点击选择上级区块，新区块将加在所选区块之后。</p>
            <p>4、再次在操作面板上点击用户名，可选择接收此链的用户。</p>
            <p style="font-size:0.9em;">注意，合法的操作必须满足：<br>1、只能把新区块加在区块链最末的区块之后；
            <br>2、发送者必须是新区块所跟随的区块记载的转移事件中的接收者。
            <br>若违反上述原则，发送者可能会受到忽略和鄙视，<b>甚至被全网拉黑</b>。</p>
            <p style="color:red;font-size:0.9em;" v-show="Warning">添加方式不合规：
            <br>{{ Warning }}<br>若执意添加区块，请再点一次确定。</p>
            <div><button @click="SubmitAct" :disabled="!(SelUser&&SelChain&&SelBlockId&&SelTarget)">确定</button>
            <button @click="CancelAct">取消</button></div>
        </div>
    </div>
    <div class="right">
        <div class="title">事件记录</div>
        <div class="logarea" ref="LogArea">
            <div class="log" v-for="ln in Logs">{{ ln }}</div>
        </div>
    </div>
    <div class="right">
        <div class="title">操作面板</div>
        <div class="users">
            <div class="user" v-for="user in Users">
                <div v-show="SelUser&&SelUser.Id===user.Id" class="selchar" title="发送者">⇖ ⇗</div>
                <div v-show="SelTarget&&SelTarget.Id===user.Id" class="selchar" title="接收者">⇘ ⇙</div>
                <div @click="SelectUser(user)">
                    <div>{{ user.Name }}</div>
                    <div class="userid" :title="user.Id">{{ user.Id.slice( 0, 9 ) + '...' }}</div>
                </div>
                <div class="owns" v-for="chain in user.OwnChains.values()">
                    <div @click="SelectChain(chain)">
                        <div class="chainname">{{ chain.Name }}</div>
                        <div class="chainid">
                            <div>{{ chain.Id.slice( 0, 9 ) + '...' }}</div>
                            <v-branch :branch="user.GetChainBranch(chain.Id)" @selblk-msg="SelectBlock"
                            v-if="ShowBranch&&SelChain&&SelChain.Id===chain.Id"></v-chain>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="chains">chains</div-->
    </div>
</div>

<script type="text/javascript">
Date.prototype.Format = function()
{
    return this.toLocaleDateString().replace( /\//g, '-' ) + ' ' + this.toTimeString().slice( 0, 8 );
};

function Xor( ab0, ab1 )
{
    let ua0 = new Uint8Array( ab0 );
    let ua1 = new Uint8Array( ab1 );
    for( let i = ab0.byteLength; i-- > 0; )
    {
        ua0[i] ^= ua1[i];
    }
    return ua0;
}

function *RandSel( data, n )
{
    for( ; n-- > 0; )
    {
        yield data.splice( Math.floor( Math.random() * data.length ), 1 )[0];
    }
}

Vue.component( 'v-branch', {
    props: ['branch'],
    template: '<div v-show="Show" class="chainview"><div>链中区块</div><div @click="" v-for="block in Branch">\
            <div class="block" :style="{\'color\':block.Index==SelIdx?\'#339\':\'#666\'}" @click.stop="SelectBlock(block)"><span class="blockidx">{{ block.Index }}\
            </span>{{ block.Id.slice( 0, 25 ) + "..." }}</div></div>\
            &ensp;<span class="closebtn" title="关闭" @click.stop="Close">⇧</span></div>',
    data: function()
    {
        //console.log( this.branch, 'ssss' );
        return { Branch: this.branch, Show: 1, SelIdx: -1 };
    },

    //watch: {
        //msgs: function( val ){ this.Msgs = val.slice( 0, 8 ) },
    //},

    methods: {
        Close: function()
        {
            this.Show = 0;
        },
        SelectBlock: function( block )
        {
            this.SelIdx = block.Index;
            this.$emit( 'selblk-msg', block.Id );
        },
    },
} );

let V = new Vue( {
    el: '#main',
    data: { UserNum: 3, ChainNum: 5, Peers: [], Users:[], Chains: [], Logs: [], SelUser: '', SelChain: '',
            SelBlockId: '', SelTarget: '', ShowBranch: true, Warning: '', },
    methods: {
        InitUsers: async function()
        {
            this.Log( '开始创建' + this.UserNum + '名初始用户。' );
            let Peers = this.Peers;
            let Num = this.UserNum;
            for( let i = this.UserNum; i-- > 0; )
            {
                this.Peers.push( new Peer( 'peer' + i ));
            }
            this.Peers.forEach( p => p.AddNeighbors( ...this.Peers ));
            //let DefaultNames = RandSel( ['黄药师', '欧阳锋', '段智兴', '洪七公', '王重阳', '林朝英'], this.UserNum );
            this.Users = await Promise.all( Array.from( new Array( Number( this.UserNum ))).map( _ => new User()));
            let NameIter = RandSel( ['孙悟空', '猪八戒', '观音', '如来', '太上老君', '玉帝', '王母', '镇元子', '沙僧', '龙王', '阎王', '李天王', '哪吒', '唐僧'], this.UserNum );
            this.Users.forEach(( u, i ) =>
            {
                Peers[Math.floor( Math.random() * Num )].AddUser( u );
                u.Name = NameIter.next().value;
            } );
            //let TestU = await new User();
            //let Encrypted = await TestU.Export( 'fake password' );
            //let NewU = await User.Import( 'fake password', Encrypted );
            //NewU.Name = '裘千仞';
            //this.Users.push( NewU );
            this.Logs.push( '创建用户' + this.UserNum + '名。' );
        },

        GetUser: function( userId )
        {
            return this.Users.filter( u => u.Id === userId )[0];
        },

        InitChains: async function()
        {
            this.Log( '开始创建' + this.ChainNum + '条区块链。' );
            let NameIter = RandSel( ['金箍棒', '九齿钉耙', '玉净瓶', '金刚琢', '金铙', '七星剑', '二气瓶', '锦襕袈裟', '定风珠',
                                        '人参果', '芭蕉扇', '紫金铃', '紫金葫芦', '幌金绳'], this.ChainNum );
            this.Chains = await Promise.all( Array.from( new Array( Number( this.ChainNum ))).map( async _ =>
            {
                let Owner = this.Users[Math.floor( Math.random() * this.UserNum )];
                let Chain = await new BlockChain( NameIter.next().value, Owner.Id );
                await this.Broadcast( Chain.FirstBlock.Copy());
                this.Logs.push( '为' + Owner.Name + '创建链：' + Chain.Name + '。' );
                return Chain;
            } ));
            //this.$forceUpdate();
        },

        SelectUser: function( user )
        {
            if( !this.SelUser )
            {
                if( this.SelTarget.Id == user.Id )
                {
                    this.Log( '操作者与接收者不能是同一人。' );
                    return;
                }
                this.SelUser = user;
                this.Log( '本次操作者为' + user.Name );
            }
            else
            {
                if( this.SelUser.Id == user.Id )
                {
                    this.Log( '操作者与接收者不能是同一人。' );
                    return;
                }
                this.SelTarget = user;
                this.Log( this.SelUser.Name + '选定接收者为' + user.Name );
            }
            this.Warning = '';
            //this.$forceUpdate();
        },

        SelectChain: function( chain )
        {
            this.SelChain = chain;
            this.SelBlockId = null;
            this.Warning = '';
            this.Log(( this.SelUser.Name || '' ) + '选定要操作的链为' + chain.Name );
        },

        SelectBlock: function( blockId )
        {
            console.log( 'SelectBlock', blockId );
            this.SelBlockId = blockId;
            this.Warning = '';
            this.Log(( this.SelUser.Name || '' ) + '选定区块为' + blockId );
        },

        //CloseBranch: function()
        //{
            //this.ShowBranch = false;
        //},

        //GetSelUserName: function()
        //{
            //let User = this.GetUser( this.SelUser );
            //return User ? User.Name : "";
        //},

        CancelAct: function()
        {
            this.SelUser = this.SelChain = this.SelBlockId = this.SelTarget = '';
            this.Warning = '';
        },

        SubmitAct: async function()
        {
            let SelBlock = this.SelUser.GetBlock( this.SelBlockId );
            if( !SelBlock )
            {
                console( 'SubmitAct error', SelBlock, this.SelBlockId );
                return;
            }
            if( !this.Warning && !this.ChkSubmit( SelBlock ))
            {
                return;
            }
            console.log( 'submit' );
            let data = 'transfer\n' + this.SelTarget.Id;
            let NewBlock = await this.SelUser.CreateBlock( SelBlock.Index, data, SelBlock.Id );
            this.Log(( this.SelUser.Name || '' ) + '添加新区块并广播：' + NewBlock.Id );
            let Infos = ( await Promise.all( [...this.SelUser.Peers.values()].map( p => p.Broadcast( NewBlock.Copy())))
                        ).reduce(( x, y ) => x.concat( y ));
            console.log( 'Broadcast Infos', Infos );
            this.ChkLogInfos( Infos );
            this.SelUser = this.SelChain = this.SelBlockId = this.SelTarget = '';
            this.Warning = '';
            this.$refs.LogArea.scrollTop = this.$refs.LogArea.scrollHeight - this.$refs.LogArea.clientHeight;
        },

        ChkSubmit: function( block )
        {
            if( block.OwnerId != this.SelUser.Id )
            {
                this.Warning = '目标用户无权向目标区块后添加区块。';
                return false;
            }

            if( !this.SelUser.ChkTail( block ))
            {
                this.Warning = '目标区块不在链尾，在此添加属于严重违规。';
                return false;
            }

            for( let idx = -1; block; )
            {
                if( idx >= 0 && idx != block.Index + 1 )
                {
                    this.Warning = '目标区块没有连接到目标链上：' + idx;
                    return false;
                }
                idx = block.Index
                if( idx == 0 )
                {
                    break
                }
                console.log( block );
                block = this.SelUser.GetBlock( block.PrevId );
            }

            if( block.Index != 0 || block.Id != this.SelChain.Id )
            {
                this.Warning = '目标区块没有连接到目标链上：' + block.Index;
                return false;
            }
            return true;
        },

        Broadcast: async function( block )
        {
            //console.log( 'V.Broadcast in', block, { ...block } );
            let Infos = ( await Promise.all( this.Peers.map( p => p.Receive( { ...block } )))).reduce(( x, y ) => x.concat( y ));
            console.log( Infos );
            this.ChkLogInfos( Infos );
        },

        ChkLogInfos: function( infos )
        {
            console.log( 'ChkLogInfos', infos );
            for( let info of infos )
            {
                let [uid, bid, e] = info;
                let u = this.GetUser( uid );
                console.log( e, typeof e );
                switch( e )
                {
                    case 'bad block data.':
                        this.Logs.push( u.Name + '：区块数据与前不符：' + bid );
                        break;
                    case 'sender in blacklist.':
                        this.Logs.push( u.Name + '：区块添加者在黑名单中，区块无效。' );
                        break;
                    case 'double spending.':
                        this.Logs.push( u.Name + '：发现区块添加者实施双花攻击，犯了天条，已拉黑。' );
                        break;
                    case 'verify failed.':
                        console.log( '????' );
                        this.Logs.push( u.Name + '：接收区块验证失败：' + bid );
                        break;
                    case 'previous block not found.':
                        this.Logs.push( u.Name + '：缺少上级区块：' + bid );
                        break;
                }
            }
        },

        Log: function( s )
        {
            let TimeStr = new Date().Format();
            this.Logs.push( TimeStr + '  ' + s );
        },
    },

    created()
    {
        document.body.removeChild( document.body.getElementsByTagName( 'div' )[0] );
        if( crypto.subtle )
        {
            [...document.body.getElementsByTagName( 'div' )].filter( div => div.id == 'alert_crypto' ).forEach(
                                                                    div => document.body.removeChild( div ))
        }
    },
} );


</script>
</body>
</html>
